@import "../../Style.scss";

.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/images/bg.png") no-repeat center;
    background-size: contain;
    position: relative;
  
    &::after{
      content: "";
      position: absolute;
      background: $blue;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.8;
    }
  
    .Home-body{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 480px;
      height: 250px;
      z-index: 5;
  
      .Home-logo{
        height: 150px;
        width: 350px;
  
        img{
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
  
      .Home-authBtn{
        display: flex;
        width: 380px;
        margin-top: 25px;
        justify-content: space-between;
      }
    }
  
    
  }
  