@import "../../Style.scss";

.Auth-register{
    .Auth-register--content{
        justify-content: space-between;
        padding-top: 6em;

        .Auth-register--content__left{
            position: relative;
            h2{
                color: $white;
                font-size: 3em;
                margin-right: 25px;
            }

            align-items: center;
            cursor: pointer;

            .Auth-dropdown{
                position: absolute;
                width: 100%;
                top: 60%;
                background: #18a0fb;

                .Auth-invest__link{
                    padding: 20px 0px 20px 0em;
                    text-align: center;
                    color: $white;
                    border-bottom: 1px solid $white;
                    font-weight: 700;
                    font-size: 1.2em;
                }
            }
        }

        .Big-image-2{
            height: 550px;
            width: 700px;

            img{
                object-fit: fit;
            }
        }
    }

}

.Auth-content{
    content: "";
    position: absolute;
    background: $blue;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 0;
}

.Auth-misc{
    align-items: center;
    padding-top: 12em;
    width: 600px;
    color: $white;
}

.Auth-student{
    background: url("../../assets/images/x.png") no-repeat center;
    background-size: cover;
    position: relative;

    &::after{
      @extend .Auth-content;
    }

    .Auth__content{
        @extend .Auth-misc
    }

}

.Auth-trader{
    background-image: url("../../assets/images/g.png") no-repeat center;
    background-size: cover;
    position: relative;

    &::after{
        @extend .Auth-content;
    }

    .Auth__content{
        @extend .Auth-misc;
    }
}

.Auth-investor{
    background: url("../../assets/images/f.png") no-repeat center;
    background-size: cover;
    position: relative;

    &::after{
        @extend .Auth-content;
    }

    .Auth__content{
        @extend .Auth-misc;
    }
}

// Login

.Auth-login{

    .Auth-login-body{
        height: 400px;
        background: yellow;
        
    }
}