@import "../../Style.scss";

.Button{
    width: 170px;
    height: 55px;
    border-radius: 6px;
    border: 2px solid $red;
    background: none;
    color: $white;
    transition: background .3s ease-in-out;
    cursor: pointer;
    font-family: $font;
    font-size: 0.9em;
    font-weight: 400;
    outline: none;
    
    &:hover{
        background: $red;
    }
}