@import "../../Style.scss";

.Navbar{
    position: absolute;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    top: 80px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 5;

    .Navicon{
        width: 240px;
        height: 90px;
        

        img{
            object-fit: cover;
        }
    }
}