@import "../../Style.scss";

.Registerpiece{
    z-index: 5;
    width: 50%;
    
    h1{
        color: $white;
        font-size: 3em;
    }

    .userType{
        font-weight: 500;
        padding-top: 20px;
    }

    .userContent{
        padding: 15px 0;
        font-weight: 300;
        font-size: 1.2em;
    }
}