@import "../../Style.scss";

.Invest{

    .Invest-content{
        padding-top: 8em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .Invest-content__left{
            color: $white;
            h2{
               width: 542px; 
               font-size: 3em;
               font-weight: 600;
            }

            p{
                width: 576px;
                font-size: 1.1em;
                font-weight: 300;
                padding-top: 0.7em;
                line-height: 1.5;
            }
        }

    }

    .Container{
        position: relative;
        .Invest-btn{
            margin-top: 2em;
            width: 370px;
            justify-content: space-between;
        }
    }
}