@import "../../Style.scss";

.Footer{
    justify-content: space-between;
    
    .Footer-social{
        a{
            img{
                height: 22px;
                width: 22px;
                margin: 0 10px;
            }
            
        }
        
    }

    .Footer-menu{
        color: $white;
        font-size: 0.83em;
        align-items: center;
        justify-content: space-between;
        width: 730px;

        .Footer-menu__links{
            
            text-transform: uppercase;
            width: 450px;
            justify-content: space-between;
            align-items: center;

            a{
                color: $white;
            }
            
            img{
                height: 5px;
                width: 5px;
                object-fit: contain;
            }
        }
    }
}