@import "../../Style.scss";

.Notfound{

    .Container{
        h1{
            text-align: center;
            color: $white;
            padding: 3em 0;
            font-size: 3em;
        }
    }
}