@import './Style.scss';

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $font;
  

  a{
    text-decoration: none;
    color: #000;
  }

  img{
    width: 100%;
    height: 100%;
  }

  .Container{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 1400px;
    min-height: 100vh;
    margin: 0 auto;

    .Container-content{
      width: inherit;
    }
  }

  .Big-image{
    height: 500px;
    width: 750px;

    img{
        object-fit: cover;
    }
}
}

.bg-blue{
  background: $blue;
}

.flex{
  display: flex;
}

.App{
  .App-footer{
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    bottom: 20px;
  }

  
}

